@model CheckupModel

@{
	var exists = Model != null && Model.Id != 0;
	ViewBag.Title = (exists ? "Редактирование" : "Создание") + " Checkup";
}

<form asp-action="Update" asp-antiforgery="true" method="post">
	<div class="row">
		<input type="hidden" asp-for="Id"/>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="CheckupDate"></label>
				<input type="text" asp-for="CheckupDate" class="form-control dateTimePicker"/>
				<span asp-validation-for="CheckupDate" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="IsOk"></label>
				<input type="checkbox" asp-for="IsOk" class="form-control"/>
				<span asp-validation-for="IsOk" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="IdBus"></label>
				<input type="text" asp-for="IdBus" class="form-control"/>
				<span asp-validation-for="IdBus" class="text-danger"></span>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="form-group">
				<label asp-for="IdMechanic"></label>
				<input type="text" asp-for="IdMechanic" class="form-control"/>
				<span asp-validation-for="IdMechanic" class="text-danger"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<button class="btn btn-outline-primary" type="submit">@(exists ? "Сохранить" : "Добавить")</button>
			<a asp-action="Index" class="btn btn-outline-secondary">Отмена</a>
		</div>
	</div>
</form>
