@{
    ViewData["Title"] = "Main page";
}

<body style="font-family:Calibri">
    <h1>Автобусная БД</h1>
    <a class="nav-link" asp-area="admin"><b style="font-size:medium">Залогиниться</b></a>
</body>